.post-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	transition: color 0.3s ease;
}
@media screen and (max-width: 768px) {
	.post-title {
		font-size: 26px;
	}
}
@media screen and (max-width: 480px) {
	.post-title {
		font-size: 20px;
	}
}
@media screen and (max-width: 380px) {
	.post-title {
		font-size: 18px;
	}
}
