.post-info {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #97989f;
	display: flex;
	align-items: center;
	column-gap: 20px;
	flex-wrap: wrap;
	row-gap: 5px;
	&.oncover {
		color: var(--font-color-dark);
	}
	&__date {
		flex-shrink: 0;
	}
}
@media screen and (max-width: 480px) {
	.post-info {
		font-size: 14px;
		column-gap: 16px;
	}
}
