.categories {
	border-radius: 6px;
	padding: 4px 10px;
	background-color: var(--accent-color);
	display: inline-flex;
	align-items: center;
	column-gap: 5px;
	flex-wrap: wrap;
	row-gap: 5px;
	a,
	span {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.4;
		color: var(--font-color-dark);
	}
	&.light-variant {
		background-color: rgba(75, 107, 251, 0.05);
		a,
		span {
			color: var(--accent-color);
		}
		&.dark {
			background-color: rgba(75, 107, 251, 0.05);
		}
	}
}
@media screen and (min-width: 993px) {
	.categories {
		a {
			transition: opacity 0.3s ease-in-out;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.categories {
		padding: 3px 7px;
		a,
		span {
			font-size: 13px;
		}
	}
}
