.section {
	margin-bottom: 100px;
	&__inner {
	}
	&.top {
		padding-top: 100px;
	}
}
@media screen and (max-width: 1200px) {
	.section {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 992px) {
	.section {
		margin-bottom: 60px;
		&.top {
			padding-top: 85px;
		}
	}
}
@media screen and (max-width: 768px) {
	.section {
		margin-bottom: 50px;
		&.top {
			padding-top: 70px;
		}
	}
}
@media screen and (max-width: 480px) {
	.section {
		margin-bottom: 40px;
	}
}
