.page-not-found {
	text-align: center;
	&__title {
		font-size: 150px;
		font-weight: 700;
		line-height: 1.5;
	}
	&__text {
		font-size: 24px;
		font-weight: 600;
	}
}
@media screen and (max-width: 768px) {
	.page-not-found {
		&__title {
			font-size: 120px;
		}
		&__text {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: 480px) {
	.page-not-found {
		&__title {
			font-size: 100px;
		}
		&__text {
			font-size: 16px;
			margin-bottom: 0;
		}
	}
}
